body {
  background-color: orange;
}

main {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100px;
}

.horned-beast {
  width: 25%;
}

.modal {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
